<div class="comment">
        <strong>
            <%= comment.user.name.capitalize %>
        </strong>
        <p>
            <%= raw(comment.body) %>
        </p>
        <p>
            <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </p>
</div>
