<%= javascript_include_tag "application" %>

<h1> Editing "<%= @article.title %>" </h1>

<%= render partial: 'form', locals: { path: admin_article_path }%>

<%= link_to 'Home', controller: 'articles' %>
