  <% @articles.each do |article| %>
      <div class="article-div">
          <h2><%=  article.title %></h2>
          <%=  raw(article.body)[0, 100]  %>
          <%= link_to 'Show More', article_path(article) %>
      </div>
  <% end %>
