/* line 1, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a t'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 19, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.body {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 8%;
  word-wrap: break-word;
  max-width: 900px;
}

/* line 27, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.bar, .header-bar, .user-bar, .alert-bar {
  position: fixed;
  z-index: 100;
  border-style: solid;
  background-color: white;
}

/* line 34, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.header-bar {
  width: 200px;
  padding: 20px;
  left: 5%;
}

/* line 41, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.user-bar {
  right: 100px;
  padding: 10px;
  padding-right: 5%;
}

/* line 48, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.alert-bar {
  top: 40%;
  left: 5%;
  padding: 10px;
}

/* line 55, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.adminarticle-list {
  padding-top: 3%;
}

/* line 59, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.login-form {
  padding-top: 12%;
}

/* line 62, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
a.header-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: #aaaaaa;
}

/* line 68, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
a.headerbar-link:hover {
  color: #aaaaaa;
}

/* line 72, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
a.headerbar-link {
  color: #646464;
  font-size: 20px;
  padding: 1%;
  padding-top: 2%;
}

/* line 79, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
a.headerbar-link:hover {
  background-color: transparent;
}

/* line 82, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
table {
  border-spacing: 10px;
  border-collapse: separate;
}

/* line 90, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
div.header {
  padding-bottom: 1%;
  line-height: 1.5;
  padding-right: 75%;
}

/* line 96, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
button {
  padding: 10px;
}

/* line 100, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.article-div {
  padding-top: 50px;
  padding-left: 5%;
}

/* line 106, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.admin-article {
  padding-bottom: 10px;
}

/* line 109, /Users/nicholas/Dropbox/CS_Projects/blog/app/assets/stylesheets/application.scss */
.ckeditor {
  padding-right: 8%;
}
