<div class="welcome">
<p>
  Welcome to my blog! My name is Nicholas Yang. I'm currently taking a gap year
  after graduating from Stuyvesant High School. I'm 18 years old and planning
  on studying either mathematics or computer science. I'm experienced in Python (Flask),
  Java, Ruby (Rails) and familiar in C++, Javascript and Clojure. I've used Postgres,
  MySQL and SQLite in projects, as well as briefly MongoDB. I've used some design
  patterns such as the Strategy and Factory patterns. However, I'm still extremely
  inexperienced, hence the name "Horribly Underqualified". Nonetheless, I try to keep
  myself active and learn new languages/technologies.
</p>

<p>
  This blog is written in Ruby on Rails, with a Postgres backend. The editor
  is ckeditor with Paperclip. I'm using SCSS/SASS as the CSS preprocessor.
  I used Devise for user accounts. The website is hosted on a Digital Ocean
  server and the domain is registered through Gandi. This is an ongoing project
  and I have quite a few features I need to add.
</p>
</div>
