/*
 * This is a t'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:hover {
    color: grey;
}

h1 {
    line-height: 1.5em;
}
.body {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
    word-wrap: break-word;
    max-width: 1000px;
}

.bar {
    position: fixed;
    z-index: 100;
    border-style: solid;
    background-color: white;
}

.header-bar {
    @extend .bar;
    width: 200px;
    padding: 20px;
    left: 5%;
}


.user-bar {
    @extend .bar;
    right: 100px;
    padding: 10px;
    padding-right: 5%;
}

.alert-bar {
    @extend .bar;
    display: inline-block;
    top: 20%;
    left: 5%;
    float: top;
    padding: 10px;
}

.form {
    padding-top: 5%
}

.signup-form {
    @extend .form
}

.login-form {
    @extend .form
}

.adminarticle-list {
    padding-top: 3%;
}

a.header-link:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgb(170, 170, 170);
}

a.headerbar-link:hover {
    color: rgb(170, 170, 170);
}

a.headerbar-link {
    color: rgb(100, 100, 100);
    font-size: 20px;
    padding: 1%;
    padding-top: 2%;
}

a.headerbar-link:hover {
    background-color: transparent;
}
table {
    border-spacing: 10px;
    border-collapse: separate;
}
.article-table {

}

div.header{
    padding-bottom: 1%;
    line-height: 1.5;
    padding-right: 75%;
}

button {
    padding: 10px;
}

.article-div {
    padding-top: 50px;
    padding-left: 5%;
}


.admin-article {
    padding-bottom: 10px;
}

.ckeditor {
    padding-right: 8%;
}

@media (max-device-width: 600px) {
    .bar {
        position: static;
        margin: 10px;
    }
    .user-bar {
        width: 125px
    }
    .tagline {
        width: 200px;
    }
}
