/*
 * This is a file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

a:hover {
    color: grey;
}

h1 {
    line-height: 1.5em;
}

h2 {
    line-height: 1.25em;
}
.body {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
    word-wrap: break-word;
    max-width: 1000px;
}

.form {
    padding-top: 5%
}

.signup-form {
    @extend .form
}

.login-form {
    @extend .form
}

.adminarticle-list {
    padding-top: 3%;
}

a.header-link:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgb(170, 170, 170);
}

.welcome {
    padding-top: 5%;
}
table {
    border-spacing: 10px;
    border-collapse: separate;
}
.article-table {

}

div.header{
    padding-bottom: 1%;
    line-height: 1.5;
    padding-right: 75%;
}

button {
    padding: 10px;
}

.article-div {
    padding-top: 50px;
    padding-left: 5%;
}


.admin-article {
    padding-bottom: 10px;
}

.ckeditor {
    padding-right: 8%;
}

@media (max-device-width: 600px) {
    body {
        padding-top: 2%;
    }
    .user-bar {
        position: static;
        display: none;
    }
    .tagline {
        width: 200px;
    }
}
