/*
 * This is a t'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.body {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 8%;
    word-wrap: break-word;
    max-width: 800px;
}

.header-bar {
    position: fixed;
    width: 200px;
    padding: 20px;
    left: 5%;
    border-style: solid;
    background-color: white;
    z-index: 100;
}

.user-bar {
    position: fixed;
    right: 100px;
    padding: 10px;
    background-color: white;
    z-index: 100;
    padding-right: 5%;
    border-style: solid;
}

.adminarticle-list {
    padding-top: 3%;
}
a.header-link:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgb(170, 170, 170);
}

a.headerbar-link:hover {
    color: rgb(170, 170, 170);
}

a.headerbar-link {
    color: rgb(100, 100, 100);
    font-size: 20px;
    padding: 1%;
    padding-top: 2%;
}

a.headerbar-link:hover {
    background-color: transparent;
}
table {
    border-spacing: 10px;
    border-collapse: separate;
}
.article-table {

}

div.header{
    padding-bottom: 1%;
    line-height: 1.5;
    padding-right: 75%;
}

button {
    padding: 10px;
}

.article-div {
    padding-top: 50px;
    padding-left: 5%;
}


.admin-article {
    padding-bottom: 10px;
}
.ckeditor {
    padding-right: 8%;
}

