.rotated {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
}
.header-bar-img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bar {
    position: fixed;
    z-index: 100;
    border-style: solid;
    background-color: white;
}

.header-bar {
    @extend .bar;
    padding: 20px;
    width: 200px;
    margin-bottom: 1%;
    left: 5%;

    ul {
        display: none;
        background: white;
        padding: 20px;
        border-style: solid;
        list-style-type: none;
    }
    li {
        padding-bottom: 10px;
        font-size: 20px;
    }

    a:hover {
        background-color: transparent;
    }

    a {
        color: rgb(100, 100, 100);
        font-size: 20px;
        padding: 1%;
        padding-top: 2%;
    }

}


.max-header-bar {
    .header-bar-icon {
        display: none;
    }
    .header-bar-main {
        display: inline;
    }
}

.min-header-bar {
    display: inline-block;
    width: auto;
    top: 2%;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;

    .header-bar-main {
        display: none;
    }
    .header-bar-icon {
        display: inline;
        -moz-transition: all 2s linear;
        -webkit-transition: all 2s linear;
        transition: all 2s linear;

    }
    .header-bar-list {
        display: none;
        line-height: 1.8em;

    }
}

.user-bar {
    @extend .bar;
    padding: 10px;
    right: 5%;
    display: inline-block;
}

.alert-bar {
    @extend .bar;
    display: inline-block;
    top: 20%;
    left: 20%;
    float: top;
    padding: 10px;
}

