<span>
  
    <%= link_to 'Home', root_path, class: "headerbar-link", method: :get %>
    <%= link_to 'About', welcome_index_path, class: "headerbar-link" %>
    <%= link_to 'Posts', articles_path, class: "headerbar-link" %>
</span>
